@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html, body, div.main {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}
body, input, button, select, a {
  font: 14px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

button {
  cursor: pointer;
}

div.main {
  background-color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

div.main-background {
  background: url('../images/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: auto;
}

div.main div.cities {
  display: none;
}

div.states, div.cities {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.states label, div.cities label {
  color: #003476;
  font-size: 25px;
  margin-bottom: 10px;
}

div.states label svg, div.cities label svg {
  fill: #003476;
}

div.states select, div.cities select {
  border: #003476 1px solid;
  color: #003476;
  background: #fff;
  font-size: 15px;
  padding: 5px 5px;
}

div.states button#continue, div.cities a#continue-city {
  margin-top: 10px;
  border: #003476 1px solid;
  color: #fff;
  background: #003476;
  font-size: 18px;
  padding: 5px 10px;
}

div.states button#continue:hover, div.cities a#continue-city:hover {
  background: #032550;
  transition: background 0.7s;
}